.container {
  margin: auto 0;

  .switch {
    display: inline-block;
    height: 34px;
    width: 60px;
    position: relative;
    top: 2px;
    margin: 0 auto;

    input {
      display: none;
    }
  }
}


.slider {
  background-color: hsl(230, 22%, 74%);
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.slider:before {
  background-color: hsl(0, 0%, 100%);
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 26px;
}

input:checked + .slider {
  background: linear-gradient(to left, 
  hsl(210, 78%, 56%), hsl(146, 68%, 55%));
}

input:checked + .slider:before {
  transform: translateX(26px);
  background-color:  #1e202a;
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


@media screen and (max-width: 480px) {
  .container {
    align-self: flex-end;
    padding-top: 1rem;

  }
}
