@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
.container {
  margin: auto 0;
}

.container .switch {
  display: inline-block;
  height: 34px;
  width: 60px;
  position: relative;
  top: 2px;
  margin: 0 auto;
}

.container .switch input {
  display: none;
}

.slider {
  background-color: #aeb3cb;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.slider:before {
  background-color: white;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 26px;
}

input:checked + .slider {
  background: linear-gradient(to left, #378fe6, #3eda82);
}

input:checked + .slider:before {
  transform: translateX(26px);
  background-color: #1e202a;
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

@media screen and (max-width: 480px) {
  .container {
    align-self: flex-end;
    padding-top: 1rem;
  }
}

* {
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  padding: 0;
  margin: 0;
}

:root {
  --page-bg: rgba(245, 247, 255, 0.4);
  --card-bg: hsl(228, 50%, 96%);
  --text-primary: #1e202a;
  --text-secondary: #63687e;
  --card-bg-hover: hsl(228, 28%, 88%);
  --toggle-bg: hsla(222, 8%, 75%, 0.8);
  --toggler: hsl(228, 50%, 96%);
}

.dark {
  --page-bg: #1e202a;
  --card-bg: hsl(228, 28%, 20%);
  --text-primary: hsl(0, 0%, 100%);
  --text-secondary: hsl(228, 34%, 66%);
  --card-bg-hover: hsl(228, 28%, 25%);
  --toggle-bg: linear-gradient(to right, 
  hsl(210, 78%, 56%), hsl(146, 68%, 55%));
  --toggler: #1e202a;
}

body {
  background: var(--page-bg);
}

#dashboard {
  width: 85%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

#dash_header {
  display: flex;
  justify-content: space-between;
  padding: 1.25rem 0;
  padding-right: 1rem;
}

#dash_header .dash_title {
  font-weight: 700;
  color: var(--text-primary);
}

#dash_header p {
  color: var(--text-secondary);
}

.container {
  margin: auto 0;
}

.container span {
  position: relative;
  bottom: 10px;
  padding-right: 0.375rem;
  color: var(--text-primary);
  font-weight: bold;
}

#social_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  height: 200px;
  margin: 25px 0;
  background-color: transparent;
}

#social_container .social_acounts {
  flex: 1 0 21%;
  max-width: 21%;
  height: 200px;
  background-color: var(--card-bg);
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-top: 7px solid;
  cursor: pointer;
  transition: background-color 400ms ease-in-out;
}

#social_container .social_acounts:hover {
  background-color: var(--card-bg-hover);
}

#social_container .facebook {
  border-top-color: #198ff5;
}

#social_container .twitter {
  border-top-color: #1ca0f2;
}

#social_container .instagram {
  position: relative;
  border-top-color: var(--card-bg);
}

#social_container .instagram:after {
  content: '';
  width: 100%;
  height: 7px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  position: absolute;
  top: -7px;
  background: linear-gradient(to left, #fdc468, #df4996);
  z-index: 1;
}

#social_container .youtube {
  border-top-color: #c4032a;
}

#social_container .card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

#social_container .card .username {
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
}

#social_container .card .username span {
  font-size: 14px;
  font-weight: 700;
  padding-left: 5px;
  color: var(--text-secondary);
}

#social_container .card object {
  align-self: flex-end;
}

#social_container .card .followers {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#social_container .card .followers strong {
  font-size: 3.225rem;
  font-weight: 700;
  color: var(--text-primary);
}

#social_container .card .followers p {
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 0.8rem;
  color: var(--text-secondary);
}

#social_container .card .stats_up {
  margin-top: 10px;
  color: #1db489;
}

#social_container .card .stats_down {
  margin-top: 10px;
  color: #dc414c;
}

#dash_overview {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  max-height: 40%;
}

#dash_overview .overview_title {
  color: var(--text-secondary);
  font-weight: 700;
}

#dash_overview .overview_info {
  display: flex;
  justify-content: space-between;
  align-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  margin-top: -15px;
  background-color: transparent;
}

#dash_overview .overview_info .social_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1 0 21%;
  max-width: 21%;
  height: 100px;
  padding: 0 0.5rem;
  margin: 20px 0px 0px;
  border-radius: 8px;
  font-size: 0.8rem;
  background-color: var(--card-bg);
  cursor: pointer;
  transition: background-color 400ms ease-in-out;
}

#dash_overview .overview_info .social_info:hover {
  background-color: var(--card-bg-hover);
}

#dash_overview .overview_info .social_info strong {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--text-primary);
}

#dash_overview .overview_info .social_info small {
  align-self: center;
}

#dash_overview .overview_info .social_info .row-1, #dash_overview .overview_info .social_info .row-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px 25px;
}

#dash_overview .overview_info .social_info .row-1 span {
  color: var(--text-secondary);
  font-weight: 700;
}

#dash_overview .overview_info .social_info .row-2 .stats_down {
  color: #dc414c;
}

#dash_overview .overview_info .social_info .row-2 .stats_up {
  color: #1db489;
}

@media screen and (max-width: 480px) {
  #dashboard {
    width: 90%;
    height: 100vh;
    padding-top: 10px;
    margin: 0 auto;
  }
  #dash_header {
    flex-direction: column;
  }
  #dash_header .title_wrapper {
    padding-bottom: 18px;
    border-bottom: 1px solid #000;
  }
  #dash_header .dash_title {
    font-size: 1.65rem;
  }
  #dash_header .toggle_wrapper {
    padding-top: 18px;
    align-self: flex-end;
  }
  #social_container {
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: nowrap;
    width: 100%;
    min-height: 125%;
    margin: 25px 0;
  }
  #social_container .social_acounts {
    margin: 10px 0;
    max-width: 100%;
    height: 100%;
  }
  #social_container .card .followers strong {
    font-size: 3.5rem;
  }
  #dash_overview {
    min-height: 100%;
  }
  #dash_overview .overview_info {
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    height: 100%;
    margin-top: 0;
  }
  #dash_overview .overview_info .social_info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    max-width: 100%;
    height: 155px;
    padding: 0 0.5rem;
  }
  #dash_overview .overview_info .social_info .row-1 {
    font-size: 1.3rem;
  }
  #dash_overview .overview_info .social_info strong {
    font-size: 2.25rem;
  }
}

@media screen and (max-width: 769px) {
  #social_container .card .followers strong {
    font-size: 2.5rem;
  }
  #social_container .card .followers p {
    font-size: 0.6rem;
  }
  #dash_overview .overview_info .social_info {
    justify-content: space-evenly;
  }
  #dash_overview .overview_info .social_info .row-2, #dash_overview .overview_info .social_info .row-1 {
    padding: 0px 5px;
  }
}

.multi-radio-toggle {
  background: var(--toggle-bg);
}

.multi-radio-toggle input:checked ~ .multi-radio-toggle__slide-bg {
  background: var(--toggler);
}
